@model FurnitureStore.Models.StockModel

<script>
    let prodid = @Html.DisplayFor(model => model.Id);
</script>

<style>
    @@font-face {
        font-family: 'Supermarket';
        src: url('/fonts/supermarket.ttf');
    }

    p {
        margin-left: 1.4rem;
        margin-right: 1.2rem;
        font-family: 'Supermarket';
        font-size: 1vw;
        color: #525252;
    }

    h1 {
        font-size: 1.7vw;
        color: #0B6E4F;
    }

    .base {
        padding-left: 30vw;
        padding-right: 30vw;
        padding-top: 50px;
        background-color: #F8F8F8;
        height: 100%;
    }

    .card-container {
        display: grid;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px 0px rgb(145, 145, 145);
        border-radius: 0.8rem;
    }

    .prod {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        width: 100%;
    }

    .buy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 1.3rem 2rem 1.4rem;
    }

    a {
        font-size: 1.2vw;
        font-family: 'Supermarket';
        color: #0074FD;
    }
</style>

<div class="base">
    <div class="card-container">
        <div class="buy">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
        </div>
        <div class="buy">
            <h1>฿@Html.DisplayFor(model => model.Price)</h1>
            <p>
                @Html.ActionLink("Add to cart", "AddToCart", "Stock", new { id = Model.Id, name = Model.Name, price =
                Model.Price },
                "")
            </p>
        </div>
        <img alt="" src="@Html.DisplayFor(model => model.Image)" class="prod">
        <p>@Html.DisplayFor(model => model.Desc)</p>
    </div>
</div>
