@using FurnitureStore.Models;
@using FurnitureStore.Controllers;
@model FurnitureStore.Models.StockModel;

<style>
    .mastercart {
        margin-right: 10vw;
        margin-left: 10vw;
        padding-top: 50px;
    }

    #custom {}

    .qty {
        width: 3vw;
    }


</style>

<div class="mastercart">
    <h1>Your cart</h1>
    @{
        <table class="custom" width="100%"> 
            <tr style="border-top: 1px solid #f0f0f0;">
                <td>Product</td>
                <td>Amount</td>
                <td>Price</td>
            </tr>
            @foreach (var product in ViewBag.cart)
            {
                <tr>
                    <td>@product.StockName</td>
                    <td><input asp-for="Price" type="number" value="@product.Qty" required min="0" max="5" class="qty"></td>
                    <td>@product.Price</td>
                    <td><button>delete</button></td>
                    @* <td>@Html.ActionLink("Delete", "DeleteCart", "Stock", new { id = Model.Id }, "")</td> *@
                </tr>
            }    
                <tr>
                    <td><a asp-controller="Stock" asp-action="Index" style="color:#5B1312">กลับไปซื้อสินค้า</a></td>
                    <td></td>
                    <td></td>
                    <td><h3>@Html.ActionLink("ชำระสินค้า>>", "AddOrder", "Stock")</h3>
                    </td>
                </tr>
                
        </table>
    }
</div>